#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    setprop bluetooth.device.default_name "Mi 11"

on property:sys.boot_completed=1
    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1
